/* header {
  width: 100%;
  height: 168px;
  box-shadow: 0 1px 5px #d0d0d0;
  top: 0;
  position: sticky;
  top: 0;
  bottom: 0;
  z-index: 999;
  background-color: white;
}
header .first {
  width: var(--width);
  height: 60px;
}
header .first img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}
header .second {
  width: inherit;
  height: 69px;
  display: flex;
  flex-flow: row wrap;
}
header .second .logo {
  width: 10%;
  height: 69px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .second .search {
  width: 70%;
  height: inherit;
  display: flex;
  align-items: center;
}
header .second .search span {
  margin-left: -25px;
}
header .second .login {
  width: 20%;
  height: inherit;
}
header .second .search input[type="text"] {
  width: 600px;
  height: 43px;
  background-color: #f0f0f1;
  border: none;
  border-radius: 7px;
  padding-right: 56px;
  outline: none;
}
header .second .search input[type="text"]::placeholder {
  font-family: persian;
  font-size: 12px;
}
header .second .login {
  width: 20%;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 28px;
  flex-direction: row wrap;
  column-gap: 14px;
}
header .second .login .welcome {
  height: 39px;
  width: 132px;
  text-decoration: none;
  color: black;
  font-family: persian;
  font-size: 12px;
  font-weight: bold;
  border: 1px solid #e0e0e2;
  border-radius: 7px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}
header .second .login .line {
  display: inline-block;
  width: 1px;
  height: 24px;
  background-color: lightgray;
  margin-left: 4px;
}
header .second .login svg {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .third {
  width: 100%;
  height: 53px;
  display: flex;
  flex-flow: row wrap;
}
header .third .right {
  width: 70%;
  height: inherit;
}
header .third .right nav {
  width: 100%;
  height: inherit;
  display: flex;
  flex-flow: row wrap;
  padding-right: 15px;
  column-gap: 14px;
  position: relative;
}
header .third .right nav div {
  height: inherit;
  width: fit-content;
}
header .third .right nav div a {
  width: inherit;
  height: inherit;
  text-decoration: none;
  color: #62666d;
  font-family: persian;
  font-size: 12px;
  display: flex;
  align-items: center;
  padding-bottom: 17px;
}
header .third .right nav div .dastebandii {
  font-weight:bold;
  font-size: 14px;
  display: flex;
  align-items: center;
}
header .third .right .line {
  display: inline-block;
  width: 1px;
  height: 16px;
  background-color: lightgray;
  margin-top: 10px;
}
header .third .right nav div .dastebandii span svg {
  width: 24px !important;
  height: 24px !important;
  margin-top: 3px;
}
header .third .right nav div .second {
  display: flex;
  align-items: center;
}
header .third .right nav div .second span svg {
  width: 26px !important;
  height: 28px !important;
}
header .third .right nav div a span svg {
  padding-left: 3px;
}
header .third .right nav div .shop {
  display: flex;
  align-items: center;
}
header .third .right nav div .shop span svg {
  width: 24px !important;
  height: 20px !important;
  box-sizing: border-box;
}
header .third .right nav div .cart {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .third .right nav div .cart span svg {
  width: 26px !important;
  height: 20px !important;
}
header .third .right nav div .popular {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .third .right nav div .popular span svg {
  width: 26px !important;
  height: 20px !important;
}
header .third .right nav div .discount {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .third .right nav div .discount span svg {
  width: 26px !important;
  height: 20px !important;
}
header .third .left {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  padding-left: 18px;
  align-items: center;
  font-family: persian;
  font-size: 12px;
  padding-bottom: 16px;
}
header .third .left p {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
header .third .left p span svg {
  width: 20px !important;
  height: 24px !important;
} */
header {
  width: 100%;
  height: 170px;
  box-shadow: 0 1px 5px #d0d0d0;
  position: sticky;
  top: 0;
  bottom: 0;
  z-index: 999;
  background-color: white;

  .top {
    width: var(--width);
    height: 60px;
    img {
      width: inherit;
      height: inherit;
      object-fit: cover;
    }
  }
  .center {
    width: inherit;
    height: 70px;
    display: flex;
    flex-flow: row wrap;
    .logo {
      width: 10%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .search {
      width: 70%;
      height: inherit;
      display: flex;
      align-items: center;
      input[type="text"] {
        width: 600px;
        height: 40px;
        border: unset;
        border-radius: 7px;
        background-color: #f0f0f1;
        font-family: persian;
        padding-right: 40px;
        outline: none;
        ::placeholder {
          font-family: persian;
          font-size: 13px;
        }
      }
      .search__second {
        position: absolute;
        right: 160px;
        margin-bottom: -5px;
        & svg {
          transform: scale(0.9);
        }
      }
    }
    .login {
      width: 20%;
      height: inherit;
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-end;
      padding-left: 26px;
      align-items: center;
      column-gap: 10px;
      .register {
        width: 140px;
        height: 40px;
        font-family: persian;
        text-decoration: none;
        color: black;
        font-size: 12px;
        border: 2px solid #e0e0e2;
        border-radius: 7px;
        justify-content: center;
        display: flex;
        align-items: center;
        column-gap: 10px;
        svg {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: -5px;
        }
      }
      .cart {
        padding-top: 5px;
        padding-right: 2px;
      }
    }
  }
  .bottom {
    width: inherit;
    height: 40px;
    display: flex;
    flex-flow: row wrap;
    .menu {
      width: 75%;
      height: inherit;

      .menu_nav {
        width: 100%;
        height: inherit;
        display: flex;
        flex-flow: row wrap;
        padding-right: 16px;
        column-gap: 15px;
        position: relative;
        .line__zwei {
          position: absolute;
          width: 1px;
          height: 16px;
          background-color: #e0e0e2;
          margin-right: 726px;
          margin-top: 10px;
        }

        .menu_item {
          height: inherit;
          width: fit-content;
          .dastebandii {
            font-size: 13px;
            color: rgb(0, 0, 0);
            display: block;
            text-decoration: none;
            font-family: persian;
            font-weight: lighter;
            padding-top: 6px;
            span {
              svg {
                margin-bottom: -5px;
              }
            }
          }
          .line__eins {
            position: absolute;
            width: 1px;
            height: 16px;
            background-color: #e0e0e2;
            margin-left: -50px;
            margin-right: 130px;
            margin-top: -17px;
          }
          .menu_item_link {
            display: block;
            height: inherit;
            line-height: 40px;
            text-decoration: none;
            font-family: persian;
            color: #626660;
            font-size: 12px;
            opacity: 0.8;
            display: flex;
            align-items: center;
            column-gap: 2px;
            span {
              svg {
                width: fit-content !important;
                height: fit-content !important;
                display: flex;
                align-items: center;
                margin-bottom: 4px;
                margin-right: 10px;
                column-gap: 5px;
              }
            }
          }
          .menu_item_link:hover {
            border-bottom: 2px solid #ff0000;
          }
          .sub__menu {
            width: 95%;
            height: 70vh;
            transition: 300ms;
            background-color: #7f8248;
            position: absolute;
            margin-top: 15px;
            z-index: 999;
            transition: 100ms;
            display: none;
            .sub__menu__category {
              width: 20%;
              height: 100%;
              overflow: scroll;
              direction: ltr;
              .sub__menu__category__item {
                width: 100%;
                height: 50px;
                background-color: rgb(230, 229, 229);
                .sub__sub__menu {
                  width: 80%;
                  height: 100%;
                  background-color: white;
                  font-family: persian;
                  padding: 4px 14px 4px 0px;
                  left: 0;
                  top: 0;
                  overflow: hidden scroll;
                  direction: ltr;
                  position: absolute;
                  display: none;
                  flex-flow: column;
                  border-bottom-left-radius: 8px;
                  box-shadow: 0 1px 1px #626660;
                  .titr {
                    display: flex;
                    justify-content: flex-end;
                    span {
                      font-size: 12px;
                      font-family: persian;
                      color: #008eb2;
                      margin: 12px 6px 12px 0px;
                      svg {
                        margin: 0px 3px -3px 0px;
                      }
                    }
                  }
                  .details_product {
                    width: 100%;
                    height: 90%;

                    display: flex;
                    flex-flow: row;
                    align-items: center;
                    justify-content: center;
                    .details_product_td {
                      direction: rtl;
                      display: flex;
                      flex-flow: column;
                      width: 25%;
                      height: 100%;
                      h5 {
                        font-size: 13px;
                        font-family: persian;
                        font-weight: lighter;
                        display: inline block;
                        display: flex;
                        align-items: center;
                        column-gap: 4px;
                        &:hover {
                          color: #ff0000;
                        }
                        svg {
                          margin-right: 4px;
                        }
                        p {
                          color: #ff0000;
                          font-size: 14px;
                          margin-right: -4px;
                        }
                      }

                      a {
                        font-size: 12.4px;
                        font-family: persian;
                        line-height: 45px;
                        color: grey;
                        &:hover {
                          color: #ff0000;
                        }
                        svg {
                          margin-bottom: -5px;
                        }
                      }
                    }
                  }
                }

                &:hover .sub__sub__menu {
                  display: flex;
                }

                .sub__menu__category__item__link {
                  display: block;
                  flex-flow: row wrap;
                  align-items: center;
                  justify-content: flex-end;
                  column-gap: 5px;
                  width: 100%;
                  height: inherit;
                  line-height: 50px;
                  text-align: right;
                  text-decoration: none;
                  font-family: persian;
                  font-size: 12px;
                  padding-right: 3px;
                  color: black;
                  svg {
                    margin-bottom: -5px;
                    svg {
                      transform: scale(0.8);
                    }
                  }
                }
                &:hover .sub__menu__category__item__link {
                  color: #ff0000;
                  background-color: white;
                }
              }
            }
          }
          &:hover .sub__menu {
            display: block;
          }
        }
      }
    }
    .left {
      width: 25%;
      height: inherit;
      display: flex;
      justify-content: flex-end;
      font-family: persian;
      padding-left: 18px;
      font-size: 12px;
      align-items: center;
      display: flex;
      padding-bottom: 10px;
      margin-bottom: -8px;
      p {
        color: #626660;
        text-decoration: none;
        display: flex;
        align-items: center;
        column-gap: 5px;
        span {
          svg {
            margin-top: 9px;
            width: 20px !important;
            height: 20px !important;
            display: flex;
            margin-bottom: 16px;
          }
        }
      }
    }
  }
  ::-webkit-scrollbar {
    width: 10px;
    background-color: #c8c8c8;
  }
  ::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: #939393;
    border-radius: 5px;
  }
  .active {
    display: flex !important;
  }
}
